{% extends 'base_template.html' %}

{% block page_title %} Listings{% endblock %}

{% block content %}
<div class="list-group">
    {% for listing in listing_list %}
        <a class="list-group-item list-group-item-action" href="{% url 'listing_details' listing.pk %}">
            <div class="row">
                <div class="col">{{ listing.title }}</div>
                <div class="col-auto">${{ listing.price | floatformat:"2g" }}</div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}