{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">People with Pets App</a>
            </div>
        </nav>
        <div id="content" class="container">
            <h2 id=title>{% block page_title %}{% endblock %}</h2>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>